.container {
    display: flex;
    margin: 4rem 15rem 2rem 8rem ;
    padding-bottom: 1rem;
    
    
}
body{
    overflow-x: hidden;
    
}
.container-img {
    width: 400px;
    height: 380px;
    padding-top: 6.5rem;

}

.descr-one{
    margin-left: 6.5rem;
}
.descr-one h1{
 font-size: 2.8rem;
}
.descr-one p {
    width: 30rem;
    font-size: 1.2rem;
    font-weight: 350;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-right: auto;
    color: #fff;
   }

   .meeting-schedule {
    padding: 0.5rem;
    margin-top: 2rem;
    background-color: transparent;
    font-weight: 300;
    font-size: 1.2rem;
    border-radius: 16px;
    border: 2px solid #ffffff ;
    color: white;
   }

   .meeting-schedule:hover{
    background: #217079;;
    color: #fff;
    transition: ease-in 0.3s;
    cursor: pointer;

}

.mob-version {
    display: none;
}


