@media screen and (max-width: 769px) {
    .div9 { 
        display: none;
}
.tracking__wrapper {
    display: flex;
    z-index: 5;
    background-color: #f3f3f3;
    padding: 1rem;
}
.htag {
    display: flex;
    color: black;
    font-weight: 600;
    font-size: large;
}
 p{
    color: rgb(112, 114, 112);
 }
 .fcolor{
    color: black;
    margin-bottom: 2rem;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
 }
.parent {
    display: grid;
    position: relative;
    /* left: 2rem; */
    /* z-index: 7; */
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0rem;
    margin: 1rem 0rem 2rem 0rem;
    height: 90vh;
    width: 100vw;
    
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { 
            grid-area: 2 / 1 / 3 / 2;
            display: flex;
                       
    }
    .flt1{
        height: 3rem;
        margin-right: 1rem;
    }
    .div3 { 
            grid-area: 2 / 2 / 3 / 3;
            display: flex;
        
        }
    .div4 { grid-area: 3 / 1 / 4 / 2;
        display: flex;
            
    }
    .div5 { grid-area: 3 / 2 / 4 / 3; }
    .div6 { 
        grid-area: 4 / 1 / 5 / 3;
        padding-left: 5%;
        /* height: fit-content; */
        
    }
    .div7 { grid-area: 5 / 1 / 6 / 2;
            
          
            
    }
    .div8 { grid-area: 5 / 2 / 6 / 3; }
    .div9 { grid-area: 1 / 3 / 6 / 4; }

    .cntbutton {
    padding: 0.4rem 0.4rem;
    font-size: 0.8rem;
    background: transparent;
    color: #013237;
    border: 2px solid #013237;
    font-weight: 500;
    cursor: pointer;
    border-radius: 12px 12px;
    
    text-align: center;
    justify-content: center;
    
    }

    .tmq {
        display: none;
        margin-left: 8rem ;
    }

    .cntbutton:hover{
        background: #013237;
        color: #fff;
        transition: ease-in 0.3s;
    }

    .cntbutton3 {
        display: flex;
        padding: 0.4rem 0.4rem;
        font-size: 0.8rem;
        background: transparent;
        color: #013237;
        border: 2px solid #013237;
        font-weight: 500;
        cursor: pointer;
        border-radius: 12px 12px;
        width: 100%;
        margin-left: 0rem ;
        text-align: center;
        justify-content: center;
        
        }
    
        .cntbutton3:hover{
            background: #013237;
            color: #fff;
            transition: ease-in 0.3s;
        }

    .div6 p{
        text-align: center;
        font-size: 16px;
        
    }

}